@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Email: warisali@hotmail.co.uk<br />
    <a href="https://www.linkedin.com/in/waris-ali-b1a64b207">LinkedIn</a><br />
    <a href="https://github.com/Waris-Al">Github</a><br />


</address>


